@import './variable';
@import './common/media';


.section {
}
.promo {
	padding-top: 96px;
	padding-bottom: 112px;
		&__title {
			text-align: center;
			h2 {
				margin-bottom: 51px;
			}
			p {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 120%;
				color: $text;
				margin-bottom: 30px;
			}
			p:nth-child(3){
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 120%;
				color: $text;
			}
		}
}



//1200px
@include media-laptop {

}
//992px
@include media-tablet-horizontal {
    .promo {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}
//767px
@include media-tablet {

}
//480px
@include media-mobile {
	.promo {
		&__title {
			h2 {
				margin-bottom: 30px;
			}
			p {
				font-size: 18px;
			}
			p:nth-child(3){
				font-size: 16px;
			}
		}
	}
}
//320px
@include media-mobile-small {
   
}