@import '../variable';
@import '../common/media.scss';


.car {
	padding-top: 96px;
	background: linear-gradient(180deg, #E3E6F3 0%, #FFFFFF 100%);
}
.car-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.car-title {
	margin-bottom: 108px;
}
.car-content {
}
.car-one {
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
	border-radius: 10px;
	padding: 0px 0px 72px 104px;
	

		&__title {
			width: 102px;
			height: 102px;
			border-radius: 100%;
			background: #0066B3;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 34px;
			transform: translateY(-58px);

			
			h2 {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: bold;
				font-size: 48px;
				line-height: 120%;
				color: $white;
			}
		}

		&__block {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		&__block-left {

			&_item {
			}
		}

		&__block-middle {
		}

		&__blockmiddle {

			&_item {
			}
		}

		&__block-right {

			&_item {
			}
		}
}
.car-double {

		&__left {

			&_title {
				width: 102px;
				height: 102px;
				border-radius: 100%;
				background: #0066B3;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-bottom: 34px;
				h2 {
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: bold;
					font-size: 48px;
					line-height: 120%;
					color: $white;
				}
			}

			&_text {
			}
		}

		&__right {

			&_title {
				width: 102px;
				height: 102px;
				border-radius: 100%;
				background: #0066B3;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-bottom: 34px;
				h2 {
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: bold;
					font-size: 48px;
					line-height: 120%;
					color: $white;
				}
			}
		}
}
.car-item {

		&__left {

			&_title {
				width: 102px;
				height: 102px;
				border-radius: 100%;
				background: #0066B3;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-bottom: 34px;
				h2 {
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: bold;
					font-size: 48px;
					line-height: 120%;
					color: $white;
				}
			}

			&_text4 {
			}
		}

		&__right {
		}
}
.car-bottom {
}
.car-bottom-title {
}
.car-bottom-content {

		&__left {
		}

		&__right {
		}

		&__btn {
		}
}
.monitor-btn {
}





//с мониторинга
.car-item {
	display: flex;
	flex-direction: row;
	background: #FFFFFF;	
	box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
	border-radius: 10px;
	padding: 0px 0px 72px 104px;
	margin-bottom: 130px;
	max-width: 1020px;
		&__left {
			display: flex;
			flex-direction: column;
			transform: translateY(-68px);
			&_title {
				width: 102px;
				height: 102px;
				border-radius: 100%;
				background: #0066B3;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-bottom: 34px;
				h2 {
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: bold;
					font-size: 48px;
					line-height: 120%;
					color: $white;
				}
			}

			&_text {
				p {
					width: 470px;
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: normal;
					font-size: 24px;
					line-height: 120%;
					color: $title;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
				p:nth-child(2){
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 120%;
					color: $text;
				}
			}
		}

		&__right {
			position: relative;
			img {
				position: absolute;
				transform: translateY(-68px);

			}
		}
}

.car-bottom {
	background: #FFFFFF;
	box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
	padding: 80px 96px 80px 96px;
}
.car-bottom-title {
}
.monitor-title {
}
.car-bottom-content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 60px;
	&__left {
		display: flex;
		flex-direction: column;
		a {
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 120%;
			text-decoration-line: underline;
			margin-bottom: 47px;
			color: $title;
		}
		p {
			width: 390px;
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 120%;
			color: $text;
			a {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 120%;
				text-decoration-line: underline;
				color: $title;
			}
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		p {
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 120%;
			color: $text;
			margin-bottom: 20px;
			a {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 120%;
				color: $title;
			}
		}
		p {

		}
	}

	&__btn {
		
		margin-top: 20px;
	}
}