@import './variable';
@import './common/media.scss';

.dvire {
    padding-top: 100px;
}
.drive-container {
}
.drive-title {
    display: flex;
    flex-direction: column;
    h2 {
        margin-bottom: 30px;
    }
    p {
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 120%;
        color: $text;
        span {
            font-weight: bold;
        }
    }
}
.drive-point {
    padding-top: 56px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
		&__item {
            display: flex;
            flex-direction: column;
            background: #0066B3;
            border-radius: 100px;
            padding: 21px 47px;
            p {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 120%;
                text-align: center;
                color: #ffffff;
            }
        }
        &__item:nth-child(3){
            padding: 21px 69px;
        }
        &__item:nth-child(5){
            padding: 21px 75px;
        }
        &__item::after {
            content: "";
            border: 1px dashed #0066B3;
            width: 124px;
            transform: translate(243px, -20px);
            z-index: 1;
        }
        &__item:nth-child(3)::after {
            content: "";
            border: 1px dashed #0066B3;
            width: 124px;
            transform: translate(225px, -20px);
            z-index: 1;
        }
        &__item:nth-child(5)::after {
            content: "";
            border: none;
            width: 0px;
            transform: translate(0px, 0px);
            z-index: 1;
        }
        img {
            margin-left: 42px;
            margin-right: 42px;
            z-index: 10;
        }

}
.drive-point2 {
    padding-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
		&__item {
            display: flex;
            flex-direction: column;
            background: #0066B3;
            border-radius: 100px;
            padding: 21px 82px;
            p {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 120%;
                text-align: center;
                color: #ffffff;
            }
        }
        &__item:nth-child(3){
            padding: 21px 83px;

        }
        &__item::after {
            content: "";
            border: 1px dashed #0066B3;
            width: 124px;
            transform: translate(209px, -20px);
            z-index: 1;
        }                
        &__item:nth-child(3)::after {
            content: "";
            border: 1px dashed #0066B3;
            width: 124px;
            transform: translate(209px, -20px);
            z-index: 1;
        }
        &__item:nth-child(5)::after {
            content: "";
            border: none;
            width: 0px;
            transform: translate(0px, 0px);
            z-index: 1;
        }
        &__item:nth-child(5){
            background: linear-gradient(90.18deg, #97345E 8.75%, #D74145 98.03%);
            padding: 31px 110px;
            z-index: 10;
        }
        img {
            margin-left: 42px;
            margin-right: 42px;
            z-index: 10;
        }

}


.drive-element {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 90px;
		&__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                margin-bottom: 29px;
            }
            p {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 120%;
                text-align: center;
                color: $text;
            }
		}
}



//1200px
@include media-laptop {
    .drive-point{
        &__item {
            padding: 21px 30px;

        }
        &__item::after {
            transform: translate(208px, -20px);
        }
        &__item:nth-child(3){
            padding: 21px 53px;
        }
        &__item:nth-child(3)::after {
            transform: translate(193px, -20px);
        }
        &__item:nth-child(5){
            padding: 21px 57px;
        }
        img {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    .drive-point2{
        &__item {
            padding: 21px 60px;

        }
        &__item::after{
            transform: translate(171px, -20px);
        }
        &__item:nth-child(3){
            padding: 21px 60px;
        }
        &__item:nth-child(3)::after{
            transform: translate(164px, -20px);
        }
        &__item:nth-child(5){
            padding: 31px 80px;
        }
        img {
            margin-left: 15px;
            margin-right: 15px;
        }
    }

}
//992px
@include media-tablet-horizontal {
    .drive-title{
        p {
            text-align: center;
        }
    }
    .dvire{
        padding-top: 80px;
    }
    .drive-point{
        flex-direction: column;
        align-items: center;
        img {
            display: none;
        }
        &__item {
            width: 280px;
            margin-bottom: 20px;
        }
        &__item:nth-child(4){
            margin-bottom: 0;
        }
        &__item::after{
            display: none;
        }
    }
    .drive-point2{
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        img {
            display: none;
        }
        &__item {
            width: 280px;
            margin-bottom: 20px;
        }
        &__item:nth-child(4){
            margin-bottom: 0;
        }
        &__item::after{
            display: none;
        }
    }

}
//767px
@include media-tablet {


    .drive-element{
        padding-top: 50px;
        flex-wrap: wrap;
        justify-content: center;
        &__item {
            margin-bottom: 20px;
            margin-right: 30px;
        }
    }
}
//480px
@include media-mobile {

}
//320px
@include media-mobile-small {
   
}