@import '../variable';
@import '../common/media.scss';

.more {
	padding-top: 85px;
	padding-bottom: 100px;
}
.more-container {
}
.more-title {
	h2 {
		margin-bottom: 41px;
	}
}
.more-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
		&__block {
			// width: 1227px;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			// border: 1px solid #BDBDBD;
			box-sizing: border-box;
			filter: drop-shadow(-5px -5px 10px #FAFBFF), drop-shadow(5px 5px 10px rgba(166, 171, 189, 0.5));
			// border-top-left-radius: 10px;
			// border-bottom-left-radius: 10px;
			// border-top-right-radius: 10px;
			// border-bottom-right-radius: 10px;

		}
		a {
			outline: none;
			text-decoration: none;
			cursor: pointer;
			border-bottom: 1px solid #BDBDBD;
			border-right: 1px solid #BDBDBD;
		}
		a:nth-child(1){
			border-top-left-radius: 10px;
			border-left: 1px solid #BDBDBD;
			border-top: 1px solid #BDBDBD;
		}
		a:nth-child(2){
			border-top: 1px solid #BDBDBD;
		}
		a:nth-child(3){
			border-top: 1px solid #BDBDBD;
			border-top-right-radius: 10px;
		}
		a:nth-child(4){
			border-left: 1px solid #BDBDBD;
			border-bottom-left-radius: 10px;
		}
		&__block-elem {

			box-sizing: border-box;
			filter: drop-shadow(-5px -5px 10px #FAFBFF), drop-shadow(5px 5px 10px rgba(166, 171, 189, 0.5));
			padding: 58px 80px;
			width: 408px;
			height: 141px;
			cursor: pointer;
			p {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 120%;
				color: $title;
				text-align: center;
			}
		}
		a:hover {
			background: #0066B3;
			border-top-left-radius: 10px;
			p {
				color: $white;
			}
		}
		a:hover:nth-child(2) {
			background: #0066B3;
			border-top-left-radius: 0px;
		}
		a:hover:nth-child(3) {
			background: #0066B3;
			border-top-left-radius: 0px;
			border-top-right-radius: 10px;
		}
		a:hover:nth-child(4) {
			background: #0066B3;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 10px;
		}
		a:hover:nth-child(5) {
			background: #0066B3;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
		a:hover:nth-child(6) {
			background: #0066B3;
			border-top-left-radius: 0px;
			border-bottom-right-radius: 10px;
		}

}


@include media-custom (1290px) {
	.more-content{
		&__block {
			justify-content: center;
		}
		a {
			border-bottom: 1px solid #BDBDBD;
			border-right: 1px solid #BDBDBD;
		}
		a:nth-child(1){
			border-top-left-radius: 10px;
			border-left: 1px solid #BDBDBD;
			border-top: 1px solid #BDBDBD;
		}
		a:nth-child(2){
			border-top: 1px solid #BDBDBD;
		}
		a:nth-child(3){
			border-top: 0px solid #BDBDBD;
			border-top-right-radius: 0px;
			border-left: 1px solid #BDBDBD;
		}
		a:nth-child(4){
			border-left: 1px solid #BDBDBD;
			border-bottom-left-radius: 10px;
		}
		a:nth-child(5){
			border-left: 1px solid #BDBDBD;
		}
		a:hover {
			background: #0066B3;
			border-top-left-radius: 10px;
			p {
				color: $white;
			}
		}
		a:hover:nth-child(2) {
			background: #0066B3;
			border-top-right-radius: 10px;
			
		}
		a:hover:nth-child(3) {
			background: #0066B3;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
		}
		a:hover:nth-child(4) {
			background: #0066B3;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
		a:hover:nth-child(5) {
			background: #0066B3;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 10px;
		}
		a:hover:nth-child(6) {
			background: #0066B3;
			border-top-left-radius: 0px;
			border-bottom-right-radius: 10px;
		}
	}
}

//1200px
@include media-laptop {

}
//992px
@include media-tablet-horizontal {
    .more-content{
		&__block {
			&-elem {
				padding: 37px 30px;
				width: 320px;
				height: 134px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				p {
					font-size: 20px;
				}
			}
		}
		a {
			border-bottom: 1px solid #BDBDBD;
			border-right: 1px solid #BDBDBD;
		}
		a:nth-child(1){
			border-top-left-radius: 10px;
			border-left: 1px solid #BDBDBD;
			border-top: 1px solid #BDBDBD;
			border-top-right-radius: 10px;
		}
		a:nth-child(2){
			border-top: 0px solid #BDBDBD;
			border-left: 1px solid #BDBDBD;
		}
		a:nth-child(3){
			border-top: 0px solid #BDBDBD;
			border-top-right-radius: 0px;
			border-left: 1px solid #BDBDBD;
		}
		a:nth-child(4){
			border-left: 1px solid #BDBDBD;
			border-bottom-left-radius: 0px;
		}
		a:nth-child(5){
			border-left: 1px solid #BDBDBD;
		}
		a:nth-child(6){
			border-left: 1px solid #BDBDBD;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		a:hover {
			background: #0066B3;
			border-top-left-radius: 10px;
			p {
				color: $white;
			}
		}
		a:hover:nth-child(2) {
			background: #0066B3;
			border-top-right-radius: 0px;
			
		}
		a:hover:nth-child(3) {
			background: #0066B3;
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;
		}
		a:hover:nth-child(4) {
			background: #0066B3;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
		a:hover:nth-child(5) {
			background: #0066B3;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}
		a:hover:nth-child(6) {
			background: #0066B3;
			border-top-left-radius: 0px;
			border-bottom-right-radius: 10px;
		}
	}
}
//767px
@include media-tablet {

}
@include media-custom (720px){
	.more-content{
		&__block {
			flex-direction: column;
		}
	}
}
//480px
@include media-mobile {
	.more-content{
		&__block {
			&-elem {
				width: 280px;
			}
		}
	}
}
//320px
@include media-mobile-small {
   
}