.rezult {
    padding-top: 100px;

    &-elem1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 60px;
    }

    &-elem2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}

.wrap {}

.rezult-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {}
}

.rezult-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;


    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 180px;
            border: 20px solid #0066B3;
            border-radius: 100%;
            text-align: center;
            margin-bottom: 35px;

            svg {
                position: absolute;

            }
        }

        p {
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 120%;
            color: #333333;
            text-align: center;
        }

    }

    &__item-wrap {
        p {
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 120%;
            color: $text;
        }

        span {
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 150%;
            color: #000000;
        }
    }
}



//key block
.key-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
}
.key-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(180deg, #E3E6F3 0%, #FFFFFF 100%);    
    border: 1px solid #EEF0F9;
    box-sizing: border-box;    
    box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
    border-radius: 10px;
    padding: 34px 141px 30px 47px;
		&__img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 112px;
            height: 115px;
            background: #FFFFFF;
            border: 1px solid #FFFFFF;
            border-radius: 100%;
            box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
            margin-right: 47px;
		}

		&__text {
            p {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 120%;
                color: $gray;
            }
            h3 {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 120%;
                color: $title;
            }
		}
}

//key block