@import './variable';
@import './common/media';

.promo {
}
.promo-container {
    padding-top: 96px;
}
.promo-title {
    margin-bottom: 91px;
    h2 {
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: 550;
        font-size: 36px;
        line-height: 120%;
        text-align: center;
        text-transform: uppercase;
        color: $title;
        margin-bottom: 51px;
    }
    p {
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 120%;
        color: $text;
        margin-bottom: 30px;
        span {
            font-weight: bold;
            color: $title;
        }
    }
}
.promo-skill {
    h2 {
        margin-bottom: 50px;
    }
		&__content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
		}

		&__content-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 68px;
            p {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 120%;
                color: $text;
            }
            p:nth-child(1) {
                width: 323px;
            }

        }
        &__content-item::before{
            content: " ";
            width: 4px;
            height: 96px;
            background: #0066B3;
            margin-right: 21px;
        }
        &__content-item:nth-child(3) {
            margin-top: 50px;
        }
        &__content-item:nth-child(4){
            margin-top: 50px;
        }
}


//1200px
@include media-laptop {
    .promo-container {
        padding-top: 50px;
    }
}
//992px
@include media-tablet-horizontal {
    .promo-title {
        margin-bottom: 70px;
    }
    .promo-skill{
        &__content {
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;

            &-item:nth-child(2){
                margin-top: 50px;
            }
        }
    }
}
//767px
@include media-tablet {
    .promo-title{
        h2 {
            font-size: 28px;
        }
    }

}
//480px
@include media-mobile {
    .promo-skill{
        &__content {
            align-items: flex-start;
            &-item {
                margin-right: 0;
                p {
                    width: 100%;
                }
                p:nth-child(1){
                    width: 100%;
                }
            }
        }
    }
}
//320px
@include media-mobile-small {
   
}