@import '../variable';
@import '../common/media.scss';

.promo {
    padding-top: 100px;
}
.promo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promo-title {
    margin-bottom: 60px;
    h2 {

    }
    p {
        text-align: center;
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 120%;
        padding-top: 25px;
        color: $text;
    }
}
.promo-block {
    padding-bottom: 99px;
		&__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: #F3F3F5;
            padding: 42px 118px 36px 68px;
            img {
                margin-right: 80px;
            }

			&_text {
                p {
                    font-family: HelveticaNeueCyr;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 120%;
                    color: $text;
                    margin-bottom: 42px;
                }

			}
		}
}



//1200px
@include media-laptop {

}
//992px
@include media-tablet-horizontal {
    .promo-title{
        margin-bottom: 50px;
    }
    .promo-block {
        &__content {
            padding: 42px 30px 30px 30px;
            img {
                margin-right: 40px;
            }
        }
    }
}
//767px
@include media-tablet {
    .promo{
        padding-top: 40px;
    }
    .promo-block{
        &__content {
            padding: 42px 30px 42px 30px;
            flex-direction: column;
            img {
                margin-right: 0;
            }
            &_text {
                margin-top: 20px;
                text-align: center;
            }
        }
    }
}
//480px
@include media-mobile {
.promo-block{
    &__content {
        &_text {
            p {
                font-size: 16px;
            }
        }
    }
}
}
//320px
@include media-mobile-small {
   
}