@import '../variable';
@import '../common/media.scss';

.promo {
    padding-top: 96px;
}
.promo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promo-title {
    margin-bottom: 60px;
    h2 {

    }
    p {
        text-align: center;
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 120%;
        padding-top: 25px;
        color: $text;
    }
}
.promo-block {
    padding-bottom: 99px;
		&__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: #F3F3F5;
            padding: 42px 118px 36px 68px;
            img {
                margin-right: 80px;
            }

			&_text {
                p {
                    font-family: HelveticaNeueCyr;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 120%;
                    color: $text;
                    margin-bottom: 42px;
                }

			}
		}
}
