@import '../variable';
@import '../common/media.scss';

.branch {
	padding-top: 100px;
	padding-bottom: 96px;
}

.branch-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.branch-content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 50px;
		&__item {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-left: 100px;
			img {
				margin-right: 20px;
			}
			p {
				width: 272px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 120%;
				color: $text;
			}
		}
		&__item:nth-child(2){
			margin-left: 0;
		}

}
.branch-column {
	display: flex;
	flex-direction: column;
	margin-right: 20px;

}
.branch-column:nth-child(3) {
	margin-right: 0;
}


//1200px
@include media-laptop {

}
//992px
@include media-tablet-horizontal {
    .branch-content{
		flex-direction: column;
		justify-content: center;
		align-content: center;
		&__item {
			margin-left: 0;
			justify-content: center;
			margin-bottom: 30px;
		}
	}
}
//767px
@include media-tablet {

}
//480px
@include media-mobile {
	.branch{
		padding-bottom: 40px;
	}
	.branch-content{
		&__item {
			flex-direction: column;
			text-align: center;
			img {
				margin-right: 0;
				margin-bottom: 20px;
			}

		}
	}
}
//320px
@include media-mobile-small {
   
}