@import '../variable';
@import '../common/media.scss';

.car {
	background: linear-gradient(180deg, #E3E6F3 0%, #FFFFFF 100%);
}
.wrap {
}
.car-container {
	padding-top: 98px;
}
.car-title {
	margin-bottom: 130px;
	h2 {

	}
}
.car-content {
	
}
.car__content_slider {
	position: relative;
}
.car-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: #FFFFFF;	
	box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
	border-radius: 10px;
	padding: 44px 88px 41px 104px;
	margin-bottom: 130px;
		&__left {
			display: flex;
			flex-direction: column;
			transform: translateY(-68px);
			&_title {
				width: 102px;
				height: 102px;
				border-radius: 100%;
				background: #0066B3;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-bottom: 34px;
				h2 {
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: bold;
					font-size: 48px;
					line-height: 120%;
					color: $white;
				}
			}

			&_text {
				h2 {
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: normal;
					font-size: 24px;
					line-height: 120%;
					text-transform: uppercase;
					color: $title;
					margin-bottom: 30px;
				}

				p {
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 120%;
					color: $text;
				}
				p:nth-child(2){
					margin-bottom: 20px;
				}
				p:nth-child(3){
					margin-bottom: 30px;
				}
				p:nth-child(4) {
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 120%;
					color: $title;
					margin-bottom: 18px;
				}
				li {
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 120%;
					color: $text;
					list-style-type: disc;
				}
				li::marker {
					color: #0066B3;
				}
			}
			&_text:nth-child(2){
				p:nth-child(6){
					margin-top: 30px;
				}
			}
		}

		&__right {
			img {
			}
		}
}
.car-item:nth-child(2) {
	padding: 32px 99px 50px 104px;
}
.car-item-img2 {
	margin-left: 40px;
}

.car-block-title {
	width: 102px;
	height: 102px;
	border-radius: 100%;
	background: #0066B3;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 34px;
	h2 {
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		line-height: 120%;
		color: $white;
	}
	}
.car-title-block {
	p {
		width: 470px;
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 120%;
		color: $title;
		text-transform: uppercase;
		margin-bottom: 101px;
	}
}


.container-car {
	padding: 0px 0px 0px 104px;
}


  .container {
      width: 100%;
  }



//первый слайдер
.swiper-container1 {
	width: 520px;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: initial;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
	z-index: 1;
	margin-left: 40px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}
.swiper-button-prev,
.swiper-button-next {
    background-color: #0066B3;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 54px;
    min-height: 54px;
    border-radius: 100%;
}
.swiper-button-prev {
    background-image: url(/css/img/svg/arrow-back.svg);
    transform: translateX(4px);

}

.swiper-button-next {
    background-image: url(/css/img/svg/arrow-right.svg);
    transform: translateX(0px);
}

.reports__content_slider {
	position: relative;
	transform: translate(75px, 45px);
	filter: drop-shadow(-5px -5px 10px #FAFBFF), drop-shadow(5px 5px 10px rgba(166, 171, 189, 0.5));
	border-radius: 10px;
}
.car-item3 {
display: flex;
flex-direction: row;
margin-bottom: 130px;
	&__left {
		display: flex;
		flex-direction: column;
		background: #FFFFFF;	
		box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
		border-radius: 10px;
		padding: 0px 103px 68px 94px;
		margin-right: 20px;
		&_title {
			width: 102px;
			height: 102px;
			border-radius: 100%;
			background: #0066B3;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 34px;
			transform: translateY(-58px);

			h2 {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: bold;
				font-size: 48px;
				line-height: 120%;
				color: $white;
			}
		}

		&_text {
			width: 396px;
			h2 {

				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 120%;
				text-transform: uppercase;
				color: $title;
				margin-bottom: 30px;
			}
			p {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				color: $text;
				margin-bottom: 30px;
			}
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		background: #FFFFFF;	
		box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
		border-radius: 10px;
		padding: 0px 104px 149px 104px;

	}
}



.car-item {

	&__left {

		&_title {
		}

		&_text4 {
			h2{
				width: 470px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 120%;
				text-transform: uppercase;
				color: $title;
				margin-bottom: 27px;
			}
			p {
				width: 448px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				color: $text;
				margin-bottom: 20px;
			}
			p:nth-child(3) {
				margin-bottom: 0;
			}
		}

	}

	&__right{
	}
}
.car-item:nth-child(4) {
	padding: 0px 0px 0px 104px;
	img {
		transform: translateY(54px);
	}
	
}

.car-bottom {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
	box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
	padding: 80px 96px 80px 96px;
}
.car-bottom-content {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
	padding: 0px 70px;
	&__left {
		display: flex;
		flex-direction: column;
		a {
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 120%;
			text-decoration-line: underline;
			margin-bottom: 30px;
			color: $title;
		}
	
	}

	&__right {
		display: flex;
		flex-direction: column;
		a {
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 120%;
			text-decoration-line: underline;
			margin-bottom: 30px;
			color: $title;
		}
	}

	&__btn {
		
		transform: translateY(85px);

	}
}

@include media-custom (1300px){
	.car-item3{
		justify-content: center;
		&__left {
			padding: 0px 60px 68px 60px;

		}
		&__right {
			padding: 0px 60px 149px 60px;
		}
	}
	.car-item:nth-child(4) img {
		width: 500px;
		transform: translateY(80px);

	}
}
//1200px
@include media-laptop {
	.car-item {
		padding: 44px 40px 41px 40px;

	}
	.car-item:nth-child(2){
		padding: 32px 40px 50px 40px;
	}
	.car-item3{
		&__left {
			padding: 0px 40px 68px 40px;

		}
		&__right {
			padding: 0px 40px 149px 40px;
		}
	}
	.car-item:nth-child(4) {
		padding: 0px 40px 0px 40px;
	}
	.car-item:nth-child(4) img {
		width: 450px;
	}
	.car-bottom{
		padding: 80px 50px 80px 50px;
	}
}
//992px
@include media-tablet-horizontal {
	.swiper-container1{
		width: 450px;
		margin-left: 0;
	}
	.swiper-button-next {
		transform: translateX(35px);
	}
	.swiper-slide {
		img {
			width: 100%;
		}
	}
	.car-item {
		flex-direction: column;
		&__left {
			padding-right: 0px;
		}
	}
	.car-item3{
		flex-direction: column;
		&__left {
			width: 100%;
			margin-right: 0;
			margin-bottom: 130px;
			&_text {
				width: 100%;
			}
			img {
				width: 100%;
			}
			&_title {
				margin-bottom: 0;
			}
		}
		&__right {
			padding: 0px 40px 68px 40px;
			width: 100%;
			&_text {
				width: 100%;
			}
			img {
				width: 100%;
			}
		}
	}
	.car-item-img2{
		margin-left: 0;
	}
	.car-item:nth-child(4) img {
		width: 100%;
		transform: translateY(53px);

	}
	.car-item {
		&__left {
			transform: translateY(0px);
			width: 100%;
			&_text4 {
				h2 {
					width: 100%;
				}
				p {
					width: 100%;
				}
			}
			&_title {
				margin-bottom: 0;
				transform: translateY(-43px);
			}
		}
	}
	.car-bottom-content{
		padding: 0px 0px;
		flex-direction: column;
		align-items: center;
		text-align: center;
		&__btn {
			transform: translateY(69px);
		}
	}
	.car-bottom{
		padding: 60px 50px 60px 50px;
	}
	

}
//767px
@include media-tablet {
	.swiper-container1{
		width: 350px;
	}
	.car-item{
		&__right {
			img {
				width: 100%;
			}
		}
	}
	.car-item:nth-child(4) img {
		transform: translateY(38px);
	}
}
//480px
@include media-mobile {
	.car-item {
		padding: 44px 20px 41px 20px;
		margin-bottom: 90px;
		&__left {
			&_title {
				width: 60px;
				height: 60px;
				h2 {
					font-size: 30px;
				}
			}
			&_text {
				h2 {
					font-size: 20px;
				}
			}
		}
	}
	.swiper-container1{
		width: 250px;
		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
		.swiper-button-prev {
			transform: translateX(0px);
			display: none;
		}

		.swiper-button-next {
			transform: translateX(0px);
			display: none;
		}
	}
	.car-item:nth-child(2){
		padding: 32px 20px 50px 20px;
	}
	.car-item3{
		margin-bottom: 90px;
		&__left {
			margin-bottom: 90px;
			padding: 0px 20px 48px 20px;
			&_title {
				transform: translateY(-28px);
				width: 60px;
				height: 60px;
				margin-bottom: 0;
				h2 {
					font-size: 30px;
				}
			}
			&_text {
				h2 {
					font-size: 20px;
				}
			}
		}
		&__right {
			padding: 0px 20px 48px 20px;
		}
	}
	.car-item{
		&__left {
			&_title {
				transform: translateY(-28px);
			}
		}
	}
	.car-item:nth-child(4) {
		padding: 0px 20px 0px 20px;
	}
	.car-item:nth-child(4) img {
		transform: translateY(31px);
	}
	.car-bottom{
		padding: 60px 20px 60px 20px;
	}
	.car-bottom-content{
		&__left {
			a {
				font-size: 20px;
			}
		}
	}
}
@include media-custom (375px){
	.car-item{
		&__left {
			&_text {
				text-align: center;
			}
		}
	}
	.car-item3{
		&__left {
			&_text {
				text-align: center;
			}
		}
	}
	.car-item__left_text4{
		h2 {
			text-align: center;
		}
		p {
			text-align: center;
		}
	}
	.car-item:nth-child(4) img {
		transform: translateY(27px);
	}
}
//320px
@include media-mobile-small {
   
}