@import '../variable';
@import '../common/media.scss';

.promo {
    padding-top: 132px;
    padding-bottom: 98px;
}
.promo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promo-title {
    margin-bottom: 50px;
    h2 {
        font-weight: 550;
    }
    p {
        width: 651px;
        text-align: center;
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 120%;
        padding-top: 13px;
        text-align: center;
        text-transform: lowercase;
        color: $text;
    }
}
.promo-block {

		&__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            background: #F3F3F5;
            padding: 54px 96px 52px 20px;
            img {
                margin-right: 20px;
            }

			&_text {
                p {
                    font-family: HelveticaNeueCyr;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 120%;
                    color: $text;
                    margin-bottom: 20px;
                }
                a {

                }
			}
		}
}


.promo-need {
    margin-top: 67px;
}
.need-block {
    
		&__title {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                width: 719px;
                margin-bottom: 30px;
            }
            p {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 120%;
                color: $text;
            }
		}

		&__key {
            margin-top: 30px;
		}
}
.monitor-title {
}
.need {
		&__key-title {
            display: flex;
            flex-direction: row;
            justify-content: center;
            h3 {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 120%;
                color: $title;
            }
		}

		&__key-content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 50px;
			&_left {
                display: flex;
                flex-direction: column;
                p {
                    max-width: 348px;
                }
			}

			&_right {
                display: flex;
                flex-direction: column;
                p {
                    max-width: 348px;
                }
			}
		}
}
.need-left {

		&_text {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 35px;
            img {
                margin-right: 24px;
            }
            p{
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 120%;
                color: $text;
            }
        }
        &_text:nth-child(6){
            margin-bottom: 30px;
        }
}
.need-right {

		&_text {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 50px;
            img {
                margin-right: 24px;
            }
            p{
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 120%;
                color: $text;
            }
        }
        &_text:nth-child(6){
            margin-bottom: 19px;
        }
}
.promo-bottom {
    margin-top: 114px;
    display: flex;
    flex-direction: column;
		&__title {
		}

		&__block {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            margin-top: 30px;
		}
}
.promo-bottom::after {
    content: " ";
    width: 77%;
    border: 1px dashed #0066B3;
    transform: translate(119px, -110px);
    z-index: 1;
}
.bottom {

		&__block {

			&_item {
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 10;
                img {
                    margin-bottom: 30px;
                }
                p {
                    width: 292px;// хз
                    font-family: HelveticaNeueCyr;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 120%;
                    color: $text;
                    text-align: center;
                }
			}
		}
}

//1200px
@include media-laptop {
    .promo-block{
        &__content {
            padding: 54px 40px 52px 20px;
        }
    }
    .bottom{
        &__block {
            &_item {
                p {
                    width: 248px;
                    font-size: 16px;
                }
            }
        }
    }
}
//992px
@include media-tablet-horizontal {
    .promo {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .need-block{
        &__title {
            h2 {
                width: 100%;
            }
        }
    }
    .need{
        &__key {
            &-content {
                flex-direction: column;
                &_left {
                    width: 100%;
                }
                &_right {
                    width: 100%;
                    margin-top: 30px;
                }
            }
        }
    }
    .need-left{
        &_text {
            img {
                width: 24px;
            }
            p {
                max-width: 100%;
            }
        }
    }
    .need-right{
        &_text {
            img {
                width: 24px;
            }
            p {
                max-width: 100%;
            }
        }
    }
    .need-img-gruz {
        width: 500px;
    }

    .promo-bottom{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 60px;
        &__block {
            flex-direction: column;

        }
    }
    .promo-bottom::after{
        display: none;
    }
    .bottom{
        &__block {
            &_item {
                margin-bottom: 20px;
                img {
                    margin-bottom: 20px;
                }
                p {
                    width: 250px;
                }
            }
        }
    }
}
//767px
@include media-tablet {
    .promo-block {
        &__content {
            flex-direction: column;
            padding: 50px 40px 50px 40px;
            img {
                margin-right: 0;
                margin-bottom: 30px;
            }
            &_text {
                text-align: center;
            }
        }
    }
    .promo-title{
        p {
            width: 100%;
        }
    }
    .need-img-gruz {
        width: 450px;
    }

}
//480px
@include media-mobile {
    .need{
        &__key{
            &-content {
                padding: 0px 20px;
            }
        }
    }
    .need-block{
        &__title {
            p {
                text-align: center;
            }
        }
    }
    .need-left{
        &_text {
            margin-bottom: 30px;
            img {
                margin-right: 15px;
            }
        }
    }
    .need-right{
        &_text {
            margin-bottom: 30px;
            img {
                margin-right: 15px;
            }
        }
    }
    .need-img-gruz {
        width: 100%;
    }
}
//320px
@include media-mobile-small {
   
}
