@import '../variable';
@import '../common/media.scss';


//второй слайдер
.swiper-container2 {
    width: 1228px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
//reviews
.reviews {
	padding-top: 157px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
		&__title {
			margin-bottom: 48px;
		}
		&__slider {
            height: 160px;
            position: relative;

		}
}

.swiper-slide {
    &_content {
        display: flex;
        flex-direction: row;
		align-items: center;
		height: 160px;
		padding: 37px 72px;
		background: #FFFFFF;
		box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
		border-radius: 10px;
		img {
			object-fit: cover;
		}
    }
}



//1200px
@include media-laptop {
    
}
//992px
@include media-tablet-horizontal {


}
//767px
@include media-tablet {

    
}
//480px
@include media-mobile {
    
}
//320px
@include media-mobile-small {
   
}