@import './variable';
@import './common/media';

//promo
.promo {
    background-image: url(../../css/img/promo1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.promo-container {
    width: 100%;
    padding-top: 164px;
    padding-bottom: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.promo-container-content {
    margin-right: 20px;
		&__title {
            padding-bottom: 30px;
            h1 {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 120%;
                color: $white;
            }
		}

		&__text {
            padding-bottom: 30px;
            p {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: 900;
                font-size: 24px;
                line-height: 120%;
                color: $white;
                span {
                    color: $span;
                }
                padding-bottom: 20px;
            }
		}
}
.btn {
}
.promo-container-video {
    cursor:pointer;
    iframe {
        max-width: 609px;
        max-height: 366px;
    }
}


//1200px
@include media-laptop {
    
}
//992px
@include media-tablet-horizontal {
    .promo{
        background-image:  url(../../css/img/fon767.png);
    }
    .promo-container{
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 40px;
        &-content {
            margin-right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            &__title {
                padding-bottom: 20px;
                h1 {
                    font-size: 30px;
                    max-width: 767px;
                }
            }
            &__text {
                text-align: left;
                p {
                    padding-bottom: 10px;
                }
            }
        }
        &-video {
            margin-top: 60px;
        }
    }
}
//767px
@include media-tablet {
    .promo-container-content{
        &__title {
            h1 {
                max-width: 460px;
            }
        }
    }
    .promo-container-video{
        a {
            img {
                width: 100%;
            }
        }
    }
    .promo-container-video{
        margin-top: 40px;
    }
}
//480px
@include media-mobile {
    .promo-container-content{
        &__text {
            p {
                font-size: 18px;
            }
        }
        &__title {
            h1 {
                font-size: 20px;
            }
        }
    }
    .promo-container-video{
        iframe {
            max-width: 300px;
            max-height: 180px;
        }
    }
}
//320px
@include media-mobile-small {
   
}