@import './variable';
@import './common/media';

.reports {
padding-bottom: 120px;
    &__content {
        &_text {
            display: flex;
            flex-direction: column;
            margin-right: 21px;
            p {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 120%;
                color: $text;
            }
            p:nth-child(3) {
                padding-top: 20px;
            }
            img {
                padding-top: 70px;
                max-width: 478px;
                object-fit: cover;
            }
        }

        &_slider {
            position: relative;
        }
    }

    &__bottom-title {
        h3 {
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 120%;
            color: $text;
        }
    }

    &__bottom-content {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        &_elem1 {
            margin-right: 20px;
            p {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 120%;
                color: $text;
            }
        }

        &_elem2 {
            p {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 120%;
                color: $text;
            }
        }
    }
}

.reports-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        h3 {
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 120%;
            text-transform: uppercase;
            color: $title;
            padding-bottom: 20px;
        }
        p {
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
            color: $text;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
    }

    &__bottom {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

//1200px
@include media-laptop {
    .reports {
        padding-bottom: 100px;
    }
    .reports-container {
        &__content {
            flex-direction: column;
        }
        &__title {
            padding-bottom: 20px;
            h3 {
                padding-bottom: 10px;
            }
        }
    }
    .reports{
        &__content {
            &_text {
                align-items: center;
                text-align: center;
                img {
                    padding-top: 20px;
                    max-width: 100%;
                }
                p:nth-child(1) {
                    padding-bottom: 10px;
                }
                p:nth-child(3) {
                    padding-bottom: 10px;
                }
            }
        }
    }
}
//992px
@include media-tablet-horizontal {
    .reports {
        padding-bottom: 70px;
    }
    .reports-container{
        &__bottom {
            padding-top: 30px;
        }
    }
    .reports{
        &__bottom-content {
            flex-direction: column;
            text-align: center;
            align-items: center;
            padding-top: 20px;
            &_elem1 {
                margin-right: 0;
                margin-bottom: 20px;
                max-width: 480px;
            }
            &_elem2 {
                max-width: 480px;
            }
        }
        &__content {
            &_text {
                margin-right: 0;
            }
        }
    }
}
//767px
@include media-tablet {
    .reports{
        &-container {
            &__title {
                h3 {
                    font-size: 30px;
                }
                p {
                    font-size: 20px;
                }
            }
        }
        &__bottom {
            &-title {
                h3 
                {
                    font-size: 20px;
                }
            }
        }
        &__content_slider {
            margin-top: 30px;
        }
    }
}
//480px
@include media-mobile {

}
//320px
@include media-mobile-small {
   
}