@import '../variable';
@import '../common/media.scss';

.car {
	background: linear-gradient(180deg, #E3E6F3 0%, #FFFFFF 100%);
}
.car-container {
	padding-top: 100px;
}
.car-title {
	margin-bottom: 93px;
	h2 {

	}
}
.car-content {
}
.car-item {
	display: flex;
	flex-direction: row;
	background: #FFFFFF;	
	box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
	border-radius: 10px;
	padding: 0px 0px 72px 104px;
	margin-bottom: 100px;
		&__left {
			display: flex;
			flex-direction: column;
			transform: translateY(-68px);
			&_title {
				width: 102px;
				height: 102px;
				border-radius: 100%;
				background: #0066B3;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-bottom: 34px;
				h2 {
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: bold;
					font-size: 48px;
					line-height: 120%;
					color: $white;
				}
			}

			&_text {
				p {
					width: 470px;
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: normal;
					font-size: 24px;
					line-height: 120%;
					color: $title;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
				p:nth-child(2){
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 120%;
					color: $text;
				}
			}
		}

		&__right {
			position: relative;
			img {
				position: absolute;
				transform: translateY(-68px);

			}
		}
}

//
.car-item2 {
display: flex;
flex-direction: row;
justify-content: center;
margin-bottom: 94px;
	&__left {
		padding: 0px 102px 123px 104px;
		background: #FFFFFF;	
		box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
		border-radius: 10px;
		margin-right: 23px;
		&_title {
			width: 102px;
			height: 102px;
			border-radius: 100%;
			background: #0066B3;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 34px;
			transform: translateY(-48px);
			h2 {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: bold;
				font-size: 48px;
				line-height: 120%;
				color: $white;
			}
		}

		&_text {
			h2 {
				width: 396px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 120%;
				text-transform: uppercase;
				color: $title;
				margin-bottom: 28px;
			}
			p {
				width: 396px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				color: $text;
			}
			img {
				margin-top: 38px;
			}

		}
	}

	&__right {
		padding: 0px 104px 113px 104px;
		background: #FFFFFF;	
		box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
		border-radius: 10px;
		&_title {
			width: 102px;
			height: 102px;
			border-radius: 100%;
			background: #0066B3;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 34px;
			transform: translateY(-48px);

			h2 {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: bold;
				font-size: 48px;
				line-height: 120%;
				color: $white;
			}
		}

		&_text {
			h2 {
				width: 396px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 120%;
				text-transform: uppercase;
				color: $title;
				margin-bottom: 28px;
			}
			p {
				width: 396px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				color: $text;
			}
			img {
				margin-top: 77px;
			}

		}
	}
}

//

//
.car-item3 {
display: flex;
flex-direction: row;
justify-content: center;
background: #FFFFFF;	
box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
border-radius: 10px;
padding: 0px 103px 62px 101px;
margin-bottom: 94px;
	&__left {
		margin-right: 33px;
		&_title {
			width: 102px;
			height: 102px;
			border-radius: 100%;
			background: #0066B3;
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			transform: translateY(-48px);
			h2 {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: bold;
				font-size: 48px;
				line-height: 120%;
				color: $white;
			}
		}

		&_text {
			h2 {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 120%;
				text-transform: uppercase;
				color: $title;
				margin-bottom: 26px;
			}
			p {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				color: $text;
				margin-bottom: 20px;
			}
			p:nth-child(3){
				margin-bottom: 0;
			}
		}
	}

	&__right {
		img {
			margin-top: 45px;
		}
	}
}

//
.car-questions {
	background: #FFFFFF;	
	box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
	border-radius: 10px;
	margin-bottom: 130px;
		&__content {
			display: flex;
			flex-direction: column;
			transform: translateY(-68px);

		}

		&__item {
		}

		&__title {
			span {

			}
			button {

			}
		}

		&__toggle {
		}

		&__hidden-content {
			p {

			}
		}

		&__text {
		}
}

.car-block-title {
	width: 102px;
	height: 102px;
	border-radius: 100%;
	background: #0066B3;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 34px;
	h2 {
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		line-height: 120%;
		color: $white;
	}
	}
.car-title-block {
	p {
		width: 470px;
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 120%;
		color: $title;
		text-transform: uppercase;
		margin-bottom: 101px;
	}
}


.container-car {
	padding: 0px 0px 0px 104px;
}
.car-question {
    &__content {
      max-width: 1224px;
      width: 100%;
      margin: 0 auto;
	  transform: translateY(-68px);
    }
  }
  .container {
      width: 100%;
  }
  .car-questions {
    display: flex;
	flex-direction: row;
	align-items: center;
    transition: 0.2s;
    max-width: 1224px;
    width: 100%;
	margin: 0 auto;
	margin-bottom: 130px;

      &__content {
        width: 440px;
        padding-left: 44px;
        padding: 10px 13px;
		transition: 0.6s;
		background: linear-gradient(180deg, #E3E6F3 0%, #FFFFFF 100%);
		box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
		border-radius: 10px;
		margin-bottom: 20px;
      }
      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;
        transition: 0.9s;
    
        span {
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 120%;
			color: $text;
        }
      }
      &__toggle {
        border-radius: 100%;
        border: none;
        padding: 0;
        background: $title;
        cursor: pointer;
        font-weight: 500;
        font-size: 28px;
        transition: 0.5s;
        width: 30px;
        height: 30px;
        color: $white;
      }
    
      &__hidden-content {
        max-width: 910px;
        max-height: 0;
        transition: 0.8s;
        overflow: hidden;
        p {
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 120%;
            color: $text;
        }
      }
      &__text {
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        color: $text;
      }
      .car-questions__item.open {
        .car-questions {
          &__content {
            padding: 10px 13px;
          }
        //   &__title {
        //     padding-top: 15px;
        //     margin-bottom: 25px;
        //   }
          &__toggle {
            transform: rotate(45deg);
          }
          &__hidden-content {
            max-height: 900px;
          }
        }
      }
  }
  .car-questions__text:nth-child(1) {
      padding-bottom: 20px;
  }
  .car-questions__text:nth-child(5) {
    padding-bottom: 20px;
    }
    .car-questions__text:nth-child(9) {
        padding-bottom: 20px;
    }
    .border {
        border-top: 1px solid #BDBDBD;
        border-bottom: 1px solid #BDBDBD;
    }



//первый слайдер
.swiper-container1 {
    width: 520px;
    height: 100%;
    position: initial;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}
.swiper-button-prev,
.swiper-button-next {
    background-color: #0066B3;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 54px;
    min-height: 54px;
    border-radius: 100%;
}
.swiper-button-prev {
    background-image: url(/css/img/svg/arrow-back.svg);
    transform: translateX(-40px);

}

.swiper-button-next {
    background-image: url(/css/img/svg/arrow-right.svg);
    transform: translateX(40px);
}

.reports__content_slider {
	position: relative;
    transform: translate(75px, 0px);
	filter: drop-shadow(-5px -5px 10px #FAFBFF), drop-shadow(5px 5px 10px rgba(166, 171, 189, 0.5));
	border-radius: 10px;
}


//three
.car-item {

	&__left {

		&_title {
		}

		&_text4 {
			h2{
				width: 470px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 120%;
				text-transform: uppercase;
				color: $title;
				margin-bottom: 27px;
			}
			p {
				width: 448px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				color: $text;
				margin-bottom: 30px;
			}
			p:nth-child(3){
				margin-bottom: 50px;
			}
			p:nth-child(4) {
				margin-bottom: 0;
			}
		}

	}

	&__right{
	}
}
.car-item:nth-child(4) {
	padding: 0px 0px 0px 104px;
	img {
		transform: translateY(13px);
	}
	
}

.car-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #FFFFFF;
	box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
	padding: 80px 96px 80px 96px;
}
.car-bottom-title {
}
.monitor-title {
}
.car-bottom-content {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 60px;
	&__left {
		display: flex;
		flex-direction: column;
		a {
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 120%;
			text-decoration-line: underline;
			margin-bottom: 30px;
			color: $title;
		}
		
	
	}

	&__right {
		display: flex;
		flex-direction: column;
		a {
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 120%;
			text-decoration-line: underline;
			margin-bottom: 30px;
			color: $title;
		}
	}
	&__btn {
		
		width: 100%;
		transform: translateY(103px);
		display: flex;
		flex-direction: row;
		justify-content: center;
	
		a {
			margin-right: 20px;
		}
		a:nth-child(2){
			margin-right: 0;
		}
	}
}

@include media-custom (1300px){
	.car-item2{
		&__left {
			padding: 0px 60px 123px 60px;
		}
		&__right {
			padding: 0px 60px 113px 60px;
		}
	}
	.reports__content_slider {
		transform: translate(33px, 0px);
	}
	.car-item:nth-child(4) img{
		width: 550px;
		transform: translateY(223px);	
	}
}
//1200px
@include media-laptop {
	.car-item2{
		&__left {
			padding: 0px 40px 123px 40px;
		}
		&__right {
			padding: 0px 40px 113px 40px;
		}
	}
	.car-item3{
		padding: 0px 60px 62px 60px;
	}
	.container-car {
		padding: 0px 0px 0px 60px;
	}
	.swiper-container1 {
		width: 450px;
	}
	.swiper-slide {
		img {
			width: 100%;
		}
	}
	.car-questions__content {
		width: 350px;
	}
	.reports__content_slider {
		transform: translate(-64px, 0px);
	}
	.car-item:nth-child(4) {
		padding: 0px 0px 0px 40px;
	}
	.car-item:nth-child(4) img {
		width: 450px;
    	transform: translateY(288px);
	}
}
//992px
@include media-tablet-horizontal {
    .car-item2 {
		flex-direction: column;
		width: 100%;
		&__left {
			margin-right: 0;
			margin-bottom: 90px;
			&_title {
				margin-bottom: 0;
			}
			&_text {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				h2 {
					width: 100%;
				}
				p {
					width: 100%;
				}
				img {
					width: 100%;
				}
			}
		}
		&__right {
			&_title {
				margin-bottom: 0;
			}
			&_text {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				h2 {
					width: 100%;
				}
				p {
					width: 100%;
				}
				img {
					width: 100%;
				}
			}
		}
	}

	.car-item3 {
		padding: 0px 40px 62px 40px;
		flex-direction: column;
		&__left {
			margin-right: 0;
		}
		&__right {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
	}
	.car-questions {
		max-width: 100%;
		margin-bottom: 90px;
		flex-direction: column;
	}
	.car-question__content {
		max-width: 100%;
	}
	.car-questions__content {
		width: 500px;
	}
	.car-questions{
		&__item {
			align-items: center;
			display: flex;
			flex-direction: column;
		}
	}
	.car-title-block {
		p {
			width: 100%;
		}
	}
	.reports__content_slider {
		transform: translate(0px, -50px);
	}
	.container-car {
		padding: 0px 40px 0px 40px;
		width: 100%;
	}
	.car-item:nth-child(4) {
		flex-direction: column;
		padding: 0px 40px 0px 40px;
	}
	.car-item__right img {
		position: inherit;
	}
	.car-item:nth-child(4) img{
		width: 100%;
		transform: translateY(62px);
	}
	.car-item{
		&__left {
			transform: translateY(0px);
			&_title {
				margin-bottom: 0;
				transform: translateY(-38px);
			}
			&_text4 {
				h2 {
					width: 100%;
				}
				p {
					width: 100%;
				}
			}
		}
	}
}
//767px
@include media-tablet {
	.car-item2 {
		&__left {
			padding: 0px 40px 60px 40px;
			&_text {
				text-align: center;
			}
		}
		&__right {
			padding: 0px 40px 60px 40px;
			&_text {
				text-align: center;
				img {
					margin-top: 38px;
				}
			}
		}
	}

	.car-item3 {
		&__left {
			&_text {
				text-align: center;
			}
		}
		&__right {
			img {
				width: 100%;
			}
		}
	}
	.car-title-block {
		p {
			text-align: center;
		}
	}
	.car-block-title {
		margin-bottom: 0;
		transform: translateY(-38px);
	}
	.car-question__content{
		transform: translateY(0px);

	}
	.car-questions__content {
		width: 400px;
	}
	.swiper-container1 {
		width: 380px;
		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
		.swiper-button-prev {
			transform: translateX(0px);
			display: none;
		}

		.swiper-button-next {
			transform: translateX(0px);
			display: none;
		}
	}
	.car-item:nth-child(4) img {
		transform: translateY(50px);
	}
	.car-item {
		&__left {
			&_text4 {
				text-align: center;
			}
		}
	}
}
//480px
@include media-mobile {
	.car-item2 {
		margin-bottom: 60px;
		&__left {
			margin-bottom: 60px;
			&_title {
				width: 60px;
				height: 60px;
				transform: translateY(-28px);
				h2 {
					font-size: 30px;
				}
			}
			&_text {
				h2 {
					font-size: 20px;
				}
			}
		}
		&__right {
			&_title {
				width: 60px;
				height: 60px;
				transform: translateY(-28px);
				h2 {
					font-size: 30px;
				}
			}
			&_text {
				h2 {
					font-size: 20px;
				}
			}
		}
	}
	.car-item3 {
		margin-bottom: 60px;
		&__left {
			&_title {
				width: 60px;
				height: 60px;
				transform: translateY(-28px);
				h2 {
					font-size: 30px;
				}
			}
			&_text {
				h2 {
					font-size: 20px;
				}
			}
		}
	}
	.car-block-title{
		width: 60px;
		height: 60px;
		h2 {
			font-size: 30px;
		}
	}
	.car-title-block {
		p {
			font-size: 20px;
		}
	}
	.car-questions__content {
		width: 100%;
	}
	.container-car {
		padding: 0px 20px 0px 20px;
	}
	.swiper-container1 {
		width: 250px;
	}
	.car-questions{
		margin-bottom: 60px;
		&__title {
			span {
				font-size: 14px;
			}
		}
	}
	.car-item:nth-child(4) img {
		transform: translateY(30px);
	}
	.car-item{
		margin-bottom: 60px;
		&__left {
			&_title {
				width: 60px;
				height: 60px;
				transform: translateY(-28px);
				h2 {
					font-size: 30px;
				}
			}
			&_text4 {
				h2 {
					font-size: 20px;
				}
			}
		}
	}
	.car-item__left_text4 p:nth-child(3) {
		margin-bottom: 30px;
	}
}
@include media-custom (375px){
	.car-item2 {
		&__left {
			padding: 0px 20px 40px 20px;
		}
		&__right {
			padding: 0px 20px 40px 20px;
		}
	}
	.car-item3 {
		padding: 0px 20px 40px 20px;
	}
	.car-item:nth-child(4){
		padding: 0px 20px 0px 20px;
	}
	.car-item:nth-child(4) img {
		transform: translateY(23px);
	}
}
//320px
@include media-mobile-small {
   
}