@import '../variable';
@import '../common/media.scss';

.promo {
    padding-top: 100px;
}
.promo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promo-title {
    margin-bottom: 50px;
    h2 {
        font-weight: 550;
    }
    p {
        width: 651px;
        text-align: center;
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 120%;
        padding-top: 13px;
        text-transform: lowercase;
        text-align: center;
        color: $text;
    }
}
.promo-need {
    padding-top: 100px;
    padding-bottom: 100px;
}
.need-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    
		&__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 60px;
            h2 {
                margin-bottom: 30px;
            }
            p {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 120%;
                color: $text;
            }
            img {
                object-fit: cover;
            }
		}

		&__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
		}
}
.need__content {
    &_left {
        &-item {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 35px;
            img {
                margin-right: 24px; 
            }
            p {
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 120%;
                color: $text;
            }
        }
        &-item:nth-child(5){
            margin-bottom: 0;
        }
    }
    &_right {
        &-item {
            img {
                width: 100%;
            }
        }
    }
}



.promo-bottom {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
padding-bottom: 100px;
    &__title {
        margin-bottom: 72px;
    }

    &__content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    z-index: 10;
        &_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                margin-bottom: 30px;
            }
            p{
                max-width: 252px;
                font-family: HelveticaNeueCyr;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 120%;
                text-align: center;
                color: $text;
            }
        }
    }
}
.promo-bottom::after {
    content: " ";
    width: 67%;
    border: 1px dashed #0066B3;
    transform: translate(7px, -132px);
    z-index: 1;
}

//1200px
@include media-laptop {

}
//992px
@include media-tablet-horizontal {
    .promo {
        padding-top: 60px;
    }
    .promo-title {
        margin-bottom: 0;
    }
    .promo-need{
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .need-block{
        &__content {
            flex-direction: column-reverse;
        }
    }
    .need__content{
        &_right {
            margin-bottom: 30px;
        }
    }
}
//767px
@include media-tablet {
    .promo-title{
        p {
            width: 100%;
        }
    }
    .need-block{
        &__title {
            p {
                text-align: center;
            }
        }
    }
    .need__content_left-item img {
        margin-right: 10px;
    }
    .promo-bottom{
        padding-bottom: 60px;
        &__title {
            margin-bottom: 50px;
        }
        &__content {
            flex-direction: column;
            &_item {
                margin-bottom: 30px;
            }
        }
    }
    .promo-bottom::after {
        display: none;
    }
}
//480px
@include media-mobile {

}
//320px
@include media-mobile-small {
   
}