@import '../variable';
@import '../common/media.scss';

.car {
	background: linear-gradient(180deg, #E3E6F3 0%, #FFFFFF 100%);
}
.car-container {
	padding-top: 37px;
}
.car-title {
	margin-bottom: 130px;
	h2 {

	}
}
.car-content {
}
.car-item {
	display: flex;
	flex-direction: row;
	background: #FFFFFF;	
	box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
	border-radius: 10px;
	padding: 0px 0px 72px 104px;
	margin-bottom: 130px;
	max-width: 1020px;
		&__left {
			display: flex;
			flex-direction: column;
			transform: translateY(-68px);
			&_title {
				width: 102px;
				height: 102px;
				border-radius: 100%;
				background: #0066B3;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-bottom: 34px;
				h2 {
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: bold;
					font-size: 48px;
					line-height: 120%;
					color: $white;
				}
			}

			&_text {
				p {
					width: 470px;
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: normal;
					font-size: 24px;
					line-height: 120%;
					color: $title;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
				p:nth-child(2){
					font-family: HelveticaNeueCyr;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 120%;
					color: $text;
				}
			}
		}

		&__right {
			position: relative;
			img {
				position: absolute;
				transform: translateY(-68px);

			}
		}
}
.car-item:nth-child(2) {
	padding: 0px 0px 7px 104px;

}

.car-questions {
	background: #FFFFFF;	
	box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
	border-radius: 10px;
	margin-bottom: 130px;
		&__content {
			display: flex;
			flex-direction: column;
			transform: translateY(-68px);
		}
}

.car-block-title {
	width: 102px;
	height: 102px;
	border-radius: 100%;
	background: #0066B3;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 34px;
	h2 {
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		line-height: 120%;
		color: $white;
	}
	}
.car-title-block {
	p {
		width: 470px;
		font-family: HelveticaNeueCyr;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 120%;
		color: $title;
		text-transform: uppercase;
		margin-bottom: 101px;
	}
}


.container-car {
	padding: 0px 0px 0px 104px;
}

.car-question {
}


.car-question {
    &__content {
      max-width: 1224px;
      width: 100%;
      margin: 0 auto;
	  transform: translateY(-68px);
    }
  }
  .container {
      width: 100%;
  }
  .car-questions {
    display: flex;
	flex-direction: row;
	align-items: center;
    transition: 0.2s;
    max-width: 1224px;
    width: 100%;
	margin: 0 auto;
	margin-bottom: 130px;

      &__content {
        width: 100%;
        padding-left: 44px;
        padding: 10px 13px;
		transition: 0.6s;
		background: linear-gradient(180deg, #E3E6F3 0%, #FFFFFF 100%);
		box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
		border-radius: 10px;
		margin-bottom: 20px;
      }
      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0px;
        transition: 0.9s;
    
        span {
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 120%;
			color: $text;
        }
      }
      &__toggle {
        border-radius: 100%;
        border: none;
        padding: 0;
        background: $title;
        cursor: pointer;
        font-weight: 500;
        font-size: 28px;
        transition: 0.5s;
        width: 30px;
        height: 30px;
        color: $white;
      }
    
      &__hidden-content {
        max-width: 910px;
        max-height: 0;
        transition: 0.8s;
        overflow: hidden;
        p {
            font-family: HelveticaNeueCyr;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 120%;
            color: $text;
        }
      }
      &__text {
        font-family: HelveticaNeueCyr;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        color: $text;
      }
      .car-questions__item.open {
        .car-questions {
          &__content {
            padding: 10px 13px;
          }
        //   &__title {
        //     padding-top: 15px;
        //     margin-bottom: 25px;
        //   }
          &__toggle {
            transform: rotate(45deg);
          }
          &__hidden-content {
            max-height: 900px;
          }
        }
      }
  }
  .car-questions__text:nth-child(1) {
      padding-bottom: 20px;
  }
  .car-questions__text:nth-child(5) {
    padding-bottom: 20px;
    }
    .car-questions__text:nth-child(9) {
        padding-bottom: 20px;
    }
    .border {
        border-top: 1px solid #BDBDBD;
        border-bottom: 1px solid #BDBDBD;
    }



//первый слайдер
.swiper-container1 {
    width: 520px;
    height: 100%;
    position: initial;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}
.swiper-button-prev,
.swiper-button-next {
    background-color: #0066B3;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 54px;
    min-height: 54px;
    border-radius: 100%;
}
.swiper-button-prev {
    background-image: url(/css/img/svg/arrow-back.svg);
    transform: translateX(-40px);

}

.swiper-button-next {
    background-image: url(/css/img/svg/arrow-right.svg);
    transform: translateX(40px);
}

.reports__content_slider {
	position: relative;
	transform: translate(75px, 45px);
	filter: drop-shadow(-5px -5px 10px #FAFBFF), drop-shadow(5px 5px 10px rgba(166, 171, 189, 0.5));
	border-radius: 10px;
}


//three
.car-item {

	&__left {

		&_title {
		}

		&_text4 {
			h2{
				width: 470px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 120%;
				text-transform: uppercase;
				color: $title;
				margin-bottom: 27px;
			}
			p {
				width: 448px;
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				color: $text;
				margin-bottom: 20px;
			}
			p:nth-child(3) {
				margin-bottom: 0;
			}
		}

	}

	&__right{
	}
}
.car-item:nth-child(4) {
	padding: 0px 0px 0px 104px;
	img {
		transform: translateY(13px);
	}
	
}

.car-bottom {
	background: #FFFFFF;
	box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
	padding: 80px 96px 80px 96px;
}
.car-bottom-title {
}
.monitor-title {
}
.car-bottom-content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 60px;
	&__left {
		display: flex;
		flex-direction: column;
		a {
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 120%;
			text-decoration-line: underline;
			margin-bottom: 47px;
			color: $title;
		}
		p {
			width: 390px;
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 120%;
			color: $text;
			a {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 120%;
				text-decoration-line: underline;
				color: $title;
			}
		}
	}

	&__right {
		display: flex;
		flex-direction: column;
		p {
			font-family: HelveticaNeueCyr;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 120%;
			color: $text;
			margin-bottom: 20px;
			a {
				font-family: HelveticaNeueCyr;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 120%;
				color: $title;
			}
		}
		p {

		}
	}

	&__btn {
		
		margin-top: 20px;
	}
}
//
.swiper-wrapper {
	display: flex;
	align-items: center;
}
//
@include media-custom (1460px){
	.car-question__content {
		max-width: 100%;
		width: 500px;
	}
	.reports__content_slider{
		transform: translate(75px, 7px);

	}
}

@include media-custom (1300px){
	.car-item{
		padding: 0px 0px 72px 40px;
		&__left {
			&_text {
				p {
					width: 450px;
				}
			}
		}

	}
	.car-item:nth-child(2) {
		padding: 0px 0px 7px 40px;

	}

	//
	.container-car{
		padding: 0px 0px 0px 40px;

	}
	.car-question__content{
		width: 460px;
	}
	
}

//1200px
@include media-laptop {
	.car-content{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.car-item {
		flex-direction: column;
		align-items: center;
		max-width: 100%;
		padding: 0px 40px 0px 40px;
		&__left {
			transform: translateY(-49px);
			&_text {
				text-align: center;
			}
		}
		&__right {
			img {
				position: inherit;
				width: 100%;
				transform: translateY(27px);
			}
		}
	}
	.car-item:nth-child(2){
		padding: 0px 40px 0px 40px;
	}
	

	//
	.car-questions{
		max-width: 100%;
		width: 762px;
		flex-direction: column;
	}
	.reports__content_slider{
		transform: translate(0px, -90px);
	}
	.container-car{
		padding: 0px 0px 0px 0px;
	}
	.car-title-block{
		p {
			width: 100%;
		}
	}
	//b
	.car-bottom {
		padding: 80px 46px 80px 46px;
	}
}
//992px
@include media-tablet-horizontal {
	.car-title {
		margin-bottom: 90px;
	}
    .car-item{
		margin-bottom: 100px;
		&__left {
			transform: translateY(0px);
		}
	}
	//
	// .car-questions{
	// 	width: 100%;
	// }
	.car-title-block{
		p {
			text-align: center;
		}
	}
	.car-questions__hidden-content {
		padding-top: 15px;
	}
	//b
	.car-bottom-content {
		margin-top: 50px;
	}
	.car-bottom-content__left{
		a {
			font-size: 20px;
		}
		p {
			font-size: 20px;
			a {
				font-size: 20px;
			}
		}
	}
	.car-bottom-content__right {
		p {
			font-size: 20px;
			a {
				font-size: 20px;
			}
		}
	}
}
//767px
@include media-tablet {
	.car-item{
		&__left {
			&_title {
				width: 82px;
				height: 82px;
			}

		}
		&__right {
			img {
				transform: translateY(19px);
			}
		}
	}
	.car-block-title{
		width: 82px;
		height: 82px;
	}

	//
	.car-question__content{
		width: 100%;
		transform: translateY(0px);
	}
	.reports__content_slider{
		transform: translate(0px, -14px);

	}
	.swiper-container1 {
		width: 420px;
	}
	.swiper-slide {
		img {
			width: 100%;
		}
	}
	.car-questions{
		padding: 0px 40px 0px 40px;
		&__title {
			span {
				width: 100%;

			}
		}
	}
	
	.car-questions__hidden-content{
		max-width: 100%;
	}
	.car-questions .car-questions__item.open .car-questions__hidden-content{
		min-height: 100%;
	}
	.car-questions__content {
		transform: translateY(-28px);
	}
	.swiper-button-prev {
		display: none;
	} 
	.swiper-button-prev {
		transform: translateX(0px);
		
	}
	
	.swiper-button-next {
		transform: translateX(0px);
	}
	.car-block-title {
		margin-bottom: 25px;
	}
	//b 
	.car-bottom-content {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.car-bottom-content__left {
		a {
			margin-bottom: 25px;
		}
		p {
			width: 100%;
			margin-bottom: 20px;
		}
	}
	.car-bottom {
		padding: 40px 20px 50px 20px;

	}
}
//480px
@include media-mobile {
	.car-item{
		padding: 0px 20px 0px 20px;
		&__left {
			&_title {
				width: 65px;
    			height: 65px;
				h2 {
					font-size: 40px;
				}
			}
			&_text {
				p {
					font-size: 18px;
					width: 100%;
				}
				p:nth-child(2){
					font-size: 14px;
				}
			}
		}
	}
	//
	.car-block-title {
		width: 65px;
		height: 65px;
		h2 {
			font-size: 40px;
		}
	}
	.swiper-container1 {
		width: 280px;
	}
	.car-title-block{
		p {
			font-size: 18px;
			margin-bottom: 55px;
		}
	}
	.car-questions__hidden-content {
		p {
			font-size: 14px;
		}
	}
	
	.car-questions__toggle {
		font-size: 18px;
		width: 20px;
		height: 20px;
	}
}
@include media-custom (375px){
	.car-title {
		margin-bottom: 50px;
	}
	.car-item{
		padding: 0px 5px 0px 5px;
		&__left {
			&_title {
				margin-bottom: 20px;
			}
		}
		&__right {
			img {
				transform: translateY(14px);
				width: 280px;
			}
		}
	}
	.car-item:nth-child(2){
		padding: 0px 5px 0px 5px;
	}
	//
	.car-questions {
		padding: 0px 5px 0px 5px;
	}
	.car-questions__toggle {
		font-size: 16px;
		width: 22px;
		height: 21px;
	}
	.swiper-button-prev,
	.swiper-button-next {
		min-width: 43px;
		min-height: 43px;
	}
}
//320px
@include media-mobile-small {
   
}
