@import '../variable';
@import '../common/media.scss';


//второй слайдер
.swiper-container2 {
    width: 1228px;
    height: 198px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}
//reviews
.reviews {
	padding-top: 157px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
		&__title {
			margin-bottom: 48px;
		}
		&__slider {
            height: 160px;
            position: relative;

		}
}

.swiper-slide {
    &_content {
        display: flex;
        flex-direction: row;
		align-items: center;
		height: 160px;
		padding: 37px 72px;
		background: #FFFFFF;
		box-shadow: -5px -5px 10px #FAFBFF, 5px 5px 10px rgba(166, 171, 189, 0.5);
		border-radius: 10px;
		img {
			object-fit: cover;
		}
    }
}



@include media-custom (1300px) {
    .swiper-container2 {
        width: 900px;
    }
    .swiper-slide {
        &_content {
            padding: 22px 96px;
        }   
    }
}

//1200px
@include media-laptop {
    
}
//992px
@include media-tablet-horizontal {
    .swiper-container2 {
        width: 700px;
    }
    .swiper-slide {
        &_content {
            padding: 22px 211px;
            img {
                width: 100%;
            }
        }
    }
}
//767px
@include media-tablet {
    .reviews{
        padding-top: 50px;
    }
    .swiper-container2 {
        width: 400px;
        .swiper-button-prev,
        .swiper-button-next{
            display: none;
        }   
        .swiper-button-prev {
            background: none; 
            display: none;
        }
        
        .swiper-button-next {
            display: none;
            background: none;    
        }
    }
    .swiper-slide {
        &_content {
            padding: 22px 21px;
        }
    }
    
}
//480px
@include media-mobile {
    .swiper-container2{
        width: 280px;
    }
}
//320px
@include media-mobile-small {
   
}