@import '../variable';
@import '../common/media.scss';
//стиль для кнопок
.btn {
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: normal;
    color: $white;
    padding: 20px 20px;
    font-size: 18px;
    line-height: 18px;
    background: linear-gradient(90.18deg, #97345E 8.75%, #D74145 98.03%);
    border-radius: 10px;
}

.monitor-btn {
    padding: 20px 30px;
    background: #0066B3;
    border-radius: 10px;
    font-family: HelveticaNeueCyr;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: $white;
}